<!DOCTYPE html>
<html>

<head>
  <title>chatGPT API</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

  <section class="left">
    <h1>인공지능 비서 - 자비스</h1>
    
    <div class="prompt_title">
      <span>프롬프트</span>
      <select name="option" id="option">
        <option value="요리사ai">요리사ai</option>
        <option value="헬스트레이너ai">헬스트레이너ai</option>
        <option value="의사ai">의사ai</option>
      </select>
    </div>
    <textarea name="prompt" id="prompt" cols="30" rows="10"></textarea>
  
    <div style="margin: 30px 0 5px;">무엇이 궁금한가요?</div>
  
    <input type="text" id="keywords" name="keywords" required />
    <button id="button">입력</button>

    <img src="../static/image/robot_1.gif" class="model">

  </section>

  <section class="right">
    <h1>답변</h1>
    <div id="result"></div>
  </section>


  <div id="loading">
    <img src="https://studentrights.sen.go.kr/images/common/loading.gif">
  </div>
  <script src="../static/js/prompt.js"></script>
  <script>
    $(document).ready(function () {
      $('#loading').hide();
    });

    let selected;

    let messages = [
      {"role": "system",
        "content": `{prompt[0]}`},
      { role: 'user', content: keywords }
    ]

    selected = $("#option option:selected").text()

    $('#prompt').val(prompt[0])

    $('#option').on('change', function() {
      selected = $("#option option:selected").text()
      if($(this).val() == 'prompt1') {
        $('#prompt').val(prompt[0])
        $('.model').attr('src','../static/image/robot_1.gif')
      } else if($(this).val() == 'prompt2') {
        $('#prompt').val(prompt[1])
        $('.model').attr('src','../static/image/robot_2.gif')
      } else {
        $('#prompt').val(prompt[2])
        $('.model').attr('src','../static/image/robot_3.gif')
      }
    })

    $('#keywords').on('keyup', function(e) {
      console.log(e)
      if(e.keyCode == 13) {
        chatGPT()
      }
    })

    $('#button').on('click', function() {
      if($('#keywords').val() == '') {
        return
      }
      chatGPT()
    })

    function chatGPT() {
      const content = $('#prompt').val()
      const keywords = document.getElementById('keywords').value
      const prompt = document.getElementById('option').value
      $('#loading').show();

      messages[0].content = content
      messages[1].content = keywords

      console.log(messages)

      const data = {
        model: 'gpt-4',
        prompt: prompt,
        messages: messages,
      }

      $.ajax({
        url: "/chatgpt",
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(data),
      }).then(function (response) {
        $('#loading').hide();
        console.log(response)
        let result = document.getElementById('result')

        let model = document.createElement('p')
        model.innerText = selected

        let worry = document.createElement('span')
        worry.innerText = '• ' + keywords

        let pre = document.createElement('div')
        pre.classList.add('result_text')
        pre.innerHTML = "\n\n" + response

        result.appendChild(model)
        result.appendChild(worry)
        result.appendChild(pre)

        document.getElementById('keywords').value = ''
      });
    }
  </script>
</body>

</html>